<h1 mat-dialog-title>Add Availability</h1>
<div mat-dialog-content>
  <form [formGroup]="addAvailabilityForm">
    <mat-form-field appearance="fill">
      <input matInput placeholder="Date" [matDatepicker]="picker" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker [opened]="true"></mat-datepicker>
      <mat-error *ngIf="addAvailabilityForm.get('date')?.hasError('required')">Date is required</mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <input matInput placeholder="Time" formControlName="time">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onSubmit()" [disabled]="addAvailabilityForm.invalid">Add Availability</button>
</div>