<app-sidebar [mode]="'side'">

    <mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="50%">
      <mat-card fxFlex="48%">
        <app-chart [label]="'Bookings'"></app-chart>
      </mat-card>
      <mat-card fxFlex="48%">
        <app-chart [label]="'Customer Retention'"></app-chart>
      </mat-card>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="50%">
      >
      <mat-card fxFlex="48%">
        <app-chart [label]="'Most Popular Service'"></app-chart>
      </mat-card>
      <mat-card fxFlex="48%">
        <app-chart [label]="'Most Popular Team Member'"></app-chart>
      </mat-card>
    </div>
  </div>

<br>

<mat-divider></mat-divider>

<router-outlet></router-outlet>
</app-sidebar>