<form [formGroup]="loginForm" (ngSubmit)="login(user)">
    <p-card header="Login" [style]="{width: '360px'}">
        <div class="field">
            <label for="username">UserName</label>
            <input  [(ngModel)]="user.username"
            pInputText formControlName="username" 
            class="w-full" 
            name="username" 
            placeholder="Type your username"/>
        </div>
        <small *ngIf="username.invalid && (username.dirty || username.touched)" class="block p-error">
            <div *ngIf="username.errors?.['required']">Email is required</div>
            <div *ngIf="username.errors?.['username']">Email should be valid</div>
        </small>
        <div class="field">
            <label for="password">Password</label>
            <input [(ngModel)]="user.password" type="password"
            pInputText formControlName="password" 
            class="w-full" 
            name="password" 
            placeholder="Type your password"/>
        </div>
        <small *ngIf="password.invalid && (password.dirty || password.touched)" class="block p-error">
            <div *ngIf="password.errors?.['required']">Password is required</div>
        </small>
        <p-button label="SIGN IN" styleClass="w-full" [disabled]="loginForm.invalid" type="submit"></p-button>
        <div class="mt-2">
            Not Registered? <a routerLink="/register">Register</a>

        </div>

    </p-card>
</form>
