<form [formGroup]="availabilityForm">
    <p-card header="Book Your Appointment" [style]="{width: '360px'}">
        <div class="field">
            <label for="selectedTeamMember">Select Team Member:</label>
            <select formControlName="selectedTeamMember">
              <option *ngFor="let teamMember of teamMembers" [value]="teamMember.userId">
                {{ teamMember.name }}
              </option>
            </select>
            </div>    
    <div class="field">
    <label for="selectedAvailability">Select Availability:</label>
    <select formControlName="selectedAvailability">
      <ng-container *ngFor="let availability of availabilities$ | async">
        <option [value]="availability.availabilityId">
        {{ availability.dateTime | date: 'dd/MM/yy - HH:mm:00' }}
      </option>
      </ng-container>
      </select>
    </div>
    
    </p-card>
</form>
  