@import "primeicons/primeicons.css";

html,
body{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    display: flex;
    margin-top: 20px;
   
}
