<app-sidebar [mode]="'side'">

    <mat-divider></mat-divider>

<br>

<button mat-raised-button color="primary" (click)="openAddServiceDialog()">Add Service</button>
<div *ngFor="let service of services" class="service-item">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ service.serviceName }}</mat-card-title>
        <mat-card-subtitle>Price: {{ service.price | currency: 'EUR' }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-icon-button (click)="deleteService(service)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

<br>

<mat-divider></mat-divider>
<router-outlet></router-outlet>
</app-sidebar>
